@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Inter:wght@400;500;600&family=Cinzel+Decorative&display=swap');

h1 {
  font-family: 'Cinzel Decorative', serif;
}

h2 {
  font-family: 'Inclusive Sans', sans-serif;
}

footer {
  background-color: #02011E;
  padding-top: 40px;
  padding-bottom: 20px;
}


