.badge {
    padding: 0.25em 0.5em;
    border-radius: 5px;
    font-weight: bold;
  }
  .badge-active {
    color: #fff;
    background-color: #28a745;
  }
  .badge-expired {
    color: #fff;
    background-color: #dc3545;
  }
  